<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/ameenshariff2003/wonderlust-project.git"><i class="fa-brands fa-github" ></i></a>
            <a href="https://www.instagram.com/ameennshariff?igsh=MWVoZWdsOGRjOTg3dQ%3D%3D&utm_source=qr "><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/ameenshariff/"><i class="fa-brands fa-linkedin"></i></a>
            
            
        </div>
        <div class="f-info-brand">&copy;wonderlust private limited</div>
        <div class="f-info-links">
            <p>Developed by Ameen</p>
        </div>
    </div>
</footer>